.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #332f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-logo {
    display: block;
    margin-right: 120px;
  }

  .nav-header {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-close {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  stroke-width: 1px;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke: rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.nav-mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 168px;
}

.nav-mobile-link {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

.contacts-mobile-link {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-mobile-link:hover,
.nav-mobile-link:focus,
.contacts-mobile-link:hover,
.contacts-mobile-link:focus,
.nav-mobile-link.current {
  color: #404bbf;
}

.menu-socials-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu-socials-items {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.menu-link-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-icons {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}

.hero {
  background-color: #2e2f42;
  padding: 72px 0 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}

.title-hero {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.input-hero {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-hero:hover,
.input-hero:focus,
.link-icons:hover,
.link-icons:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0 112px;
    max-width: 768px;
  }
  .title-hero {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0 188px;
    max-width: 1440px;
  }
  .title-hero {
    margin-bottom: 48px;
  }
}

.advantages {
  padding: 96px 0;
}

.icons {
  display: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.advantages-item {
  max-width: 100%;
  align-items: baseline;
}

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .icons {
    display: none;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .advantages-list {
    flex-wrap: nowrap;
    align-items: center;
  }
  .advantages-item {
    width: calc((100% - 72px) / 3);
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
  }

  .advantages-text {
    font-weight: 400;
    max-width: 264px;
  }
}

.time {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.time-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.time-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.time-name-profession {
  padding: 32px 0;
}

.time-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.time-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.list-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.time-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.link-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-icons {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .time-list {
    gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .time {
    padding: 120px 0;
  }
}

.portfolio {
  padding: 96px 0;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border: solid 1px #e7e9fc;
  border-radius: 0 0 4px 4px;
  max-width: 360px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.container-service {
  position: relative;
  overflow: hidden;
}

.container-service-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-service {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .portfolio:hover {
    transform: translateY(0%);
  }

  .portfolio-item:hover .container-service-text {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.container-footer-logo {
  text-align: center;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-logo {
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 100%;
}

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

/* .container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.container-footer-logo {
  margin: 0 auto;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* .footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

/* .footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
} */

.subscribe-form {
  display: contents;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.subscribe-form-email {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 16px;
}

.button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #4d5ae5;
  padding: 8px 24px;
  margin: auto;
  gap: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
